<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        div {
            text-align: center;
        }
    </style>
    <!-- Add any CSS styles or styling libraries you want here -->
</head>
<body>
    <div>
        <h1>Coming Soon</h1>
        <p>This page is in process will coming soon</p>
    </div>
</body>
</html>
