<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1><strong>Error Occur</strong></h1>
        <p>Some Error occurs. <a href="{% url 'DoctorProfile' %}">Go back to Doctor Profile</a></p>
    </div>
</body>
</html>
